PlanonWebclientLogin {
  nl.planon.hades.client.authentication.jboss.TrustedServiceClientLoginModule required
  keystore="${catalina.home}/webclientKeystore.jks"
  alias=WEBCLIENT;
};

PlanonWebserviceLogin {
  org.jboss.security.ClientLoginModule required multi-threaded=true;
};

PlanonPssMetaDataLogin {
  org.jboss.security.ClientLoginModule required multi-threaded=true;
};

PlanonWebclientInitLogin {
  org.jboss.security.ClientLoginModule required multi-threaded=true;
};

PlanonRealmLogin {
  nl.planon.cerebeus.PnAppServerLoginModule required 
	user-role=planon debug=false;
};

ExchangeClientLoginConfiguration {
  nl.planon.hades.client.authentication.jboss.TrustedServiceClientLoginModule required
  keystore="${catalina.home}/exchangeKeystore.jks"
  alias=EXCHANGE;
};

PlanonEnterpriseServiceLogin {
  nl.planon.hades.client.authentication.jboss.TrustedServiceClientLoginModule required
  keystore="${catalina.home}/pss2.jks"
  alias=PSS;
};